<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.sy.basicimagebed.mapper.AlbumsMapper">

    <!-- 定义 resultMap -->
    <resultMap id="AlbumsResultMap" type="web.sy.basicimagebed.pojo.dao.AlbumDAO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="intro" column="intro"/>
        <result property="image_num" column="image_num"/>
    </resultMap>

    <!-- 查询所有相册信息 -->
    <select id="getAllAlbumsByUser" resultMap="AlbumsResultMap">
        SELECT
        a.id,
        a.name,
        a.intro,
        (SELECT COUNT(*) FROM tb_image_info i WHERE i.album_id = a.id) AS image_num
        FROM
        tb_albums a
        WHERE
        a.create_user = #{email}
        <if test="keyword != null">
            AND (a.name LIKE CONCAT('%', #{keyword}, '%') OR a.intro LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="order != null">
            ORDER BY ${order}
        </if>
        LIMIT #{perPage} OFFSET ${(page - 1) * perPage}
    </select>

    <update id="setAlbumsToDefaultWhileDeleteAlbum">
        UPDATE tb_image_info
        SET album_id = 0
        WHERE upload_user = #{email}
          AND album_id = #{album_id}
    </update>


    <delete id="deleteAlbumsByEmailAndId">
        DELETE
        FROM tb_albums
        WHERE create_user = #{email}
          AND id = #{album_id}
    </delete>

</mapper>