<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.sy.basicimagebed.mapper.UserMapper">

    <insert id="createUser" parameterType="web.sy.basicimagebed.pojo.dao.UserDAO">
        INSERT INTO tb_user (email, password, nickname, url, avatar, register_ip, capacity, capacity_used, role)
        VALUES (#{email}, #{password}, #{nickname}, #{url}, #{avatar}, #{registerIp}, #{capacity}, #{capacityUsed},
                #{role})
    </insert>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM tb_user
        WHERE email = #{email}
    </delete>

    <update id="updateUser" parameterType="web.sy.basicimagebed.pojo.dao.UserDAO">
        UPDATE tb_user
        SET nickname = #{nickname},
            url      = #{url},
            avatar   = #{avatar}
        WHERE email = #{email}
    </update>

    <update id="updatePassword" parameterType="map">
        UPDATE tb_user
        SET password = #{password}
        WHERE email = #{username}
    </update>

    <update id="updateCapacityUsed" parameterType="map">
        UPDATE tb_user
        SET capacity_used = #{capacityUsed}
        WHERE email = #{username}
    </update>

    <select id="getUserByEmail" parameterType="String" resultType="web.sy.basicimagebed.pojo.dao.UserDAO">
        SELECT *
        FROM tb_user
        WHERE email = #{email}
    </select>
</mapper>